<head>
  
</head>

<body>
  <div class="py-0" id="bghome">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-1">
            <ul class="nav-tabs px-1 py-0  flex-lg-row justify-content-md-center text-center flex-column">
              <li class="px-1 py-3  flex-column flex-lg-row justify-content-md-center text-center" id="lione">
                <h1 class="text-light text-center">&nbsp;COMPRE NAS MELHORES REVENDAS E RECEBA UMA PARTE DA SUA COMPRA DE VOLTA.</h1>
              </li>
            </ul>
            <div class="">
              <div class="tab-content mt-2">
                <div class="tab-pane fade show active text-center" id="tabone" role="tabpanel">
                  <a class="btn btn-info btn-lg" href="#" id="btnreg">CADASTRE-SE</a>
                </div>
                <div class="tab-pane fade text-center" id="tabtwo" role="tabpanel">
                  <p class="">I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this
                    is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                </div>
                <div class="tab-pane fade text-center" id="tabthree" role="tabpanel">
                  <p class="">I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities.
                    I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                </div>
                <div class="tab-pane fade text-center" id="tabfour" role="tabpanel">
                  <p class="">"I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this
                    is the level that things could be at."</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-4 border-0">
            <div class="card-body">
              <div class="tab-content mt-2">
                <div class="tab-pane fade show active mx-5" id="tabBackgroundOne" role="tabpanel">
                  <img class="d-block mg img-fluid my-5" src="assets/img/money.png" width="550px;"> </div>
                <div class="tab-pane fade text-center" id="tabBackgroundTwo" role="tabpanel">
                  <p class="">I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this
                    is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                </div>
                <div class="tab-pane fade text-center" id="tabBackgroundThree" role="tabpanel">
                  <p class="">I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities.
                    I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                </div>
                <div class="tab-pane fade text-center" id="tabBackgroundFour" role="tabpanel">
                  <p class="">"I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this
                    is the level that things could be at."</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 contenteditable="true" class="text-center text-dark">Principais Lojas</h2>
          <div class="card mb-4">
            <div class="row py-3">
              <div class="col-md-4 col-6">
                <form>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio3" name="customRadio2" value="on" disabled="" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio3">
                      <a href="#">Cupom Aliexpress</a>
                    </label>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio3" name="customRadio2" value="on" disabled="" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio3">Código promocional Uber </label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio3" name="customRadio2" value="on" disabled="" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio3"> Cupom desconto Hoteis.com </label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio3" name="customRadio2" value="on" disabled="" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio3">Cupom desconto Walmart </label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-4 col-6">
                <form>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio3" name="customRadio2" value="on" disabled="" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio3">Cupom desconto Submarino </label>
                  </div>
                </form>
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio3" name="customRadio2" value="on" disabled="" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio3">Cupom desconto Americanas </label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio3" name="customRadio2" value="on" disabled="" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio3">Cupom desconto Shoptime </label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio3" name="customRadio2" value="on" disabled="" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio3"> Cupom de desconto Netshoes </label>
                </div>
              </div>
              <div class="col-md-4 col-6">
                <form>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio3" name="customRadio2" value="on" disabled="" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio3"> Cupom de desconto Amazon </label>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio3" name="customRadio2" value="on" disabled="" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio3">Cupom de desconto Carrefour </label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio3" name="customRadio2" value="on" disabled="" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio3"> Cupom de desconto Ponto Frio </label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio3" name="customRadio2" value="on" disabled="" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio3">Cupom de desconto Saraiva </label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center text-white">Categorias</h2>
          <div class="card mb-4">
            <div class="row py-3 bg-secondary">
              <div class="col-md-4 col-6">
                <form>
                  <div class="form-group">
                    <div>
                      <input type="radio" id="customRadio3" name="customRadio2" value="on" disabled="" class="custom-control-input">
                      <a class="btn btn-outline-light
btn-sm btn-block p-2" href="#"> Alimentos e Bebidas</a>
                      <a class="btn btn-outline-light
btn-sm btn-block p-2" href="#">Button </a>
                      <a class="btn btn-outline-light
btn-sm btn-block p-2" href="#">Button </a>
                      <a class="btn btn-outline-light
btn-sm btn-block p-2" href="#">Button </a>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-4 col-6">
                <form>
                  <a class="btn btn-outline-light
btn-sm btn-block p-2" href="#">Button </a>
                  <a class="btn btn-outline-light
btn-sm btn-block p-2" href="#">Button </a>
                  <a class="btn btn-outline-light
btn-sm btn-block p-2" href="#">Button </a>
                  <a class="btn btn-outline-light
btn-sm btn-block p-2" href="#">Button </a>
                </form>
              </div>
              <div class="col-md-4 col-6">
                <form>
                  <a class="btn btn-outline-light
btn-sm btn-block p-2" href="#">Button </a>
                  <a class="btn btn-outline-light
btn-sm btn-block p-2" href="#">Button </a>
                  <a class="btn btn-outline-light
btn-sm btn-block p-2" href="#">Button </a>
                  <a class="btn btn-outline-light
btn-sm btn-block p-2" href="#">Button </a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center text-white py-5 bg-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4">SIGA-
            <br>NOS:</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="https://www.facebook.com/" class="text-white" target="_blank">
            <i class="fab fa-fw fa-facebook-f fa-3x mx-3"></i>
          </a>
          <a href="https://twitter.com/" class="text-white" target="_blank">
            <i class="fab fa-fw fa-twitter fa-3x mx-3"></i>
          </a>
          <a href="https://plus.google.com/" class="text-white" target="_blank">
            <i class="fab fa-fw fa-3x fa-google-plus mx-3"></i>
          </a>
          <a href="https://www.instagram.com/" class="text-white" target="_blank">
            <i class="fab fa-fw fa-instagram fa-3x mx-3"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-6">
          <h2 class="mb-4">Informacoes</h2>
          <p>
            <a href="tel:+246 - 542 550 5462" class="text-white">
              <i class="fa d-inline mr-3 text-secondary fa-phone"></i>+55 - 31 2232-2</a>332</p>
          <p contenteditable="true">
            <a href="mailto:contato@cortz.com.br" class="text-white">
              <i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>contato@cortz.com.br</a>
          </p>
          <p>
            <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank">
              <i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>AV. Afonso Pena 4000,&nbsp;
              <br>Belo Horizonte,&nbsp;Minas Gerais</a>
          </p>
        </div>
        <div class="p-4 col-md-6">
          <div class="col-md-12">
            <h1>Contato</h1>
            <form style="opacity: 0.5;">
              <div class="form-group">
                <label for="InputName">Seu Nome</label>
                <input type="text" class="form-control" id="InputName"> </div>
              <div class="form-group">
                <label for="InputEmail1">Email</label>
                <input type="email" class="form-control" id="InputEmail1"> </div>
              <div class="form-group">
                <label for="Textarea">Mensagem</label>
                <textarea class="form-control" id="Textarea" rows="3" placeholder="Type here"></textarea>
              </div>
            </form>
            <form>
              <button type="submit" class="btn btn-outline-secondary">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">© Copyright 2018 Rodolfo Lemos - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
</body>

